.gallery__card-like-button {
    background: url("../../../images/like-button.svg") no-repeat center;
    padding: 0;
    border: 0;
    width: 21px;
    height: 21px;
}

.gallery__card-like-button:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s;
}
