.popup__icon {
    background: url("../../../images/close-icon.svg") no-repeat center;
    height: 40px;
    width: 40px;
    top: -40px;
    right: -40px;
    position: absolute;
    padding: 0;
    border: none;
}

.popup__icon:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (max-width: 559px) {
    .popup__icon {
        background-size: cover;
        height: 30px;
        width: 30px;
        top: -30px;
        right: -10px;
    }
}