.profile {
    display: flex;
    width: calc(100% - 400px);
    margin: 40px 200px 0 200px;
    align-items: center;
}

@media  (min-width: 1024px) and (max-width: 1279px) {
   .profile {
       width: auto;
       margin: 40px 150px 0 150px;
   }
}

@media (min-width: 560px) and (max-width: 1023px) {
    .profile {
        width: auto;
        margin: 40px 150px 0 150px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 559px) {
    .profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 42px 19px 0 19px;
    }
}