.popup__button {
    width: 358px;
    height: 50px;
    margin-top: 48px;
    background: #000000;
    border-radius: 2px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.popup__button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (max-width: 559px) {
    .popup__button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 45px;
    }
}